<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JarFileCreation/src/com/quasio/jarFile/learning/PassingMainArgumentsAndVmArguments.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.quasio.jarFile.learning.PassingMainArgumentsAndVmArguments"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="Mohit &#10;Sonia &#10;Nirmala"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JarFileCreation"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dtest1=Mukesh &#10;-Dtest4=Ramesh&#10;-Dtest2=Suresh&#10;-Dprop=a"/>
</launchConfiguration>
